<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>sliceme</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/codemirror.js"></script>
    {#    <script src="mode/javascript/javascript.js"></script>#}

    <link rel="stylesheet" href={% static "js/libs/codemirror.css" %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% csrf_token %}
</head>

<body>

<div class="split-left">
    <script src="{% static 'js/libs/OrbitControls.js' %}"></script>
    <script src="{% static 'js/graphics_settings.js' %}"></script>
    <script src="{% static 'js/objects.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/loop.js' %}"></script>

    <script src="{% static 'js/csrf_token_setup.js' %}"></script>
    <script src="{% static 'js/server_connection.js' %}"></script>
</div>

<div class="split-right" id="editor-container">
    <button class="render-button" onclick="makeCompileRequest()">Compile</button>
    <script>
        var editor = CodeMirror(document.getElementById("editor-container"), {
            value: "new parallelepiped -w 4 -h 5 -l 6 -n kek\n" +
                "new point -x 1 -y 0 -z 0 -n A\n" +
                "new point -x 0 -y 1 -z 0 -n B\n" +
                "new point -x 0 -y 0 -z 1 -n C\n" +
                "slice kek A B C",
            mode: "slicescript"
        });
        editor.focus();
        editor.id = "editor"
    </script>
</div>

</body>

</html>
